/* * {
  border: 1px solid red;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,300&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: roboto;
  margin: 0px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 12px 15%;
}

.header-logo {
  width: 120px;
}

.header .nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header a {
  color: #f9faf8;
  text-decoration: none;
  padding-top: 6px;
}

/* hero-banner */

.hero-banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 52px 15%;
}

.hero-banner h1 {
  color: #f9faf8;
  font-size: 36px;
  font-weight: 700;
  margin: 0px;
}

.hero-banner a {
  color: #f9faf8;
}

.hero-image-container {
  flex: 1 1 auto;
  display: flex;
  max-width: 560px;
}

.hero-image {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}

.hero-container {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
  max-width: 560px;
}

.newsletter-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.hero-button {
  width: 140px;
  border-radius: 8px;
  border: 1px solid #3882f6;
  background-color: #3882f6;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 8px 10px;
}

.hero-button-details {
  display: inline-block;
  padding: 6px;
}

/* information */

.information {
  padding-bottom: 120px;
}

.information h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #1f2937;
  margin: 36px 0px;
  margin-top: 36px;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0px 20%;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 140px;
  font-size: 14px;
}

.tile-image {
  width: 140px;
  height: 140px;
  border: 2px solid #3882f6;
  border-radius: 12px;
}

.tile-text {
  color: #1f2937;
  padding-top: 6px;
}

/* testimonials */

.testimonials {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 72px 15%;
}

.testimonial {
  font-size: 30px;
  font-style: italic;
}

.testimonial-sig {
  float: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-top: 12px;
  margin-right: 36px;
}

/* cta */

.call-to-action {
  padding: 90px 10%;
}

.cta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  padding: 36px 10%;
}

.cta-header {
  font-size: 20px;
  font-weight: 700;
}

.cta-text {
  min-width: 80%;
  font-weight: 400;
}

.cta-button {
  min-width: 120px;
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 10px;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 36px 0px;
}

/* For Mobile Screens */

@media only screen and (max-width: 768px) {
  .header {
    padding: 12px 2%;
  }

  .header .nav {
    gap: 0.6rem;
  }

  .hero-banner {
    gap: 1.5rem;
    padding: 36px 15%;
    padding-top: 18px;
  }

  .hero-container {
    display: flex;
    align-items: center;
  }

  .newsletter-cta {
    justify-content: center;
  }

  .information {
    padding-bottom: 60px;
  }

  .testimonials {
    padding: 48px 10%;
  }

  .testimonial-sig {
    margin-right: 12px;
  }

  .call-to-action {
    padding: 48px 10%;
  }

  .cta-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 24px 24px;
  }

  .footer {
    padding: 24px 0px;
  }
}
